{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
  <div class="container" align="center">
    <h3 class="title">Simple Hip Hop Wiki
  </div>
  

<div class='container'>
  <ul>
    <li>
      Find your favorite hip hop artist, albums, and record labels.
    </li>
    <li>
       Find out the different dates in which hip hop music was released.
    </li>
    <li>
       What happened in 2020? What ablums were released in February? What was released this day in history? 
    </li>
    <li>
       Find out with simple hip-hop wiki's different features.
    </li>
    <li>
       Pick a year and see a list of albums released that year.
    </li>
    <li>
       Check out the Wikipedia pages where the data was scraped from.
    </li>
    <li>
       Use the search page to find specific information.
    </li>
    <li>
       Use this website to obtain data. With a bit of organization we can find specific information. It is up to y'all to apply your new found knowledge.
    </li>




</div>
  
{% endblock %}