{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
  <div class="container" align="center">
    <h3 class="title">Listed {{year}} Hip Hop Album-list Pulled from 
    <a href='https://en.wikipedia.org/wiki/2021_in_hip_hop_music'> Wikipedia </a> </h3>
  </div>
  
  <div class="container" align="right">
    <table>
      <tr>
        <td>
          <form action="/update/{{year}}" method="get">
            <input type="submit" value="Update" class="btn btn-primary">
          </form>
        </td>
        <td>
          <form action="/delete/{{year}}" method="get">
            <input type="submit" value="Delete" class="btn btn-primary">
          </form>
        </td>
      </tr>
    </table>
    
    
    
</div>

  <ol>
  {% for album in album_list %}
    <li>
      <b>{{album.artist}}</b> 
      released <b>{{album.name}}</b> 
      {% if year>=2017 %}
      with <i>{{album.record_label}}</i> 
      {% endif %}
      in 
      <u>{{album.month}} {{album.day}} {{album.year}}</u> 
    </li>
  {% endfor %}
  </ol>
  
{% endblock %}