{% extends "base.html" %} {% block title %}All{% endblock %} 
{% block content %}
  <div class="container" align="center">
    <h3 class="title">All Hip Hop Album-lists Pulled from 
     Wikipedia  </h3>
  </div>
  <br>
  <br>

  <div class="container" align="right">
    <table>
      <tr>
        <td>
          <form action="/update_all" method="get">
            <input type="submit" value="Update All" class="btn btn-primary">
          </form>
        </td>
        <td>
          <form action="/delete_all" method="get">
            <input type="submit" value="Delete All" class="btn btn-primary">
          </form>
        </td>
      </tr>
    </table>
</div>

  <ol>
  {% for album in album_list %}
    <li>
      <b>{{album.artist}}</b> 
      released <b>{{album.name}}</b> 

      {% if album.year|int>=2012 %}
      with <i>{{album.record_label}}</i> 
      {% endif %}
      in 
        <u>
        {% if album.day == 'Unknown' or album.day == 'unknown'%}
        Unknown {{album.year}}
        {% else %}
          {{album.month}} {{album.day}} {{album.year}}
        {% endif%}
        </u>  
    </li>
  {% endfor %}
  </ol>
  
{% endblock %}



