{% extends "base.html" %} {% block title %}Home{% endblock %} 
{% block content %}
  <div class="container" align="center">
    <h3 class="title">All Hip Hop Album-lists Pulled from 
    <a href='https://en.wikipedia.org/'> Wikipedia </a> </h3>
  </div>
  <br>
  <br>
  <!--
  <div class="container" align="right">
    <table>
      <tr>
        <td>
          <form action="/fill_db" method="get">
            <input type="submit" value="Update" class="btn btn-primary">
          </form>
        </td>
        <td>
          <form action="/delete" method="get">
            <input type="submit" value="Delete" class="btn btn-primary">
          </form>
        </td>
      </tr>
    </table>
</div> -->

  <ol>
  {% for album in album_list %}
    <li>
      <b>{{album.artist}}</b> 
      released <b>{{album.name}}</b> 
      with <i>{{album.record_label}}</i> in 
      <u>{{album.month}} {{album.day}} {{album.year}}</u> 
    </li>
  {% endfor %}
  </ol>
  
{% endblock %}